* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #faf9f8;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

/* BOTONES */
.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 14px 28px;   /* ← más aire */
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.2;     /* ← evita que el texto se pegue */
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Botón principal */
.btn-primary {
  background-color: #c8a97e;
  color: #ffffff;
}

/* Botón secundario */
.btn-secondary {
  border: 1.5px solid #c8a97e;
  color: #c8a97e;
  background-color: transparent;
}

/* Hover elegante */
.btn-primary:hover {
  background-color: #b5966f;
}

.btn-secondary:hover {
  background-color: #c8a97e;
  color: #ffffff;
}

.btn-primary,
.btn-secondary {
  box-shadow: 0 8px 20px rgba(200,169,126,0.3);
}


/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

.logo span {
  font-size: 12px;
  letter-spacing: 3px;
  color: #888;
}

