table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th, table td {
  padding: 12px 15px;
  border: 1px solid #eee;
  text-align: left;
}
table th {
  background-color:#f5f5f5;
}
table button {
  padding:6px 12px;
  border-radius:10px;
  border:none;
  cursor:pointer;
}

