<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agenda | ANTHIA ESTHETIC CENTER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../css/admin.css">
  <link rel="stylesheet" href="../../css/agenda.css">
</head>
<body>

<main class="contenedor-admin">

  <!-- HEADER AGENDA -->
  <section class="agenda-hero">
    <div class="agenda-fecha">
      <span class="agenda-dia-numero" id="diaNumero">20</span>
      <div class="agenda-dia-texto">
        <span class="agenda-mes" id="mesTexto">ENERO 2026</span>
        <span class="agenda-dia-semana" id="diaSemana">MARTES</span>
      </div>
    </div>

    <div class="agenda-acciones">
      <input type="date" id="fechaAgenda" class="agenda-date-picker">
      <button id="btnNuevaCita" class="btn-nueva-cita">
        ➕ Nueva cita
      </button>
    </div>
  </section>

  <!-- TABLA -->
  <table id="tablaAgenda" class="tabla-premium">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Servicio</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

</main>
<script type="module" src=""../../js/firebase.js"></script>
<script type="module" src=""../../js/auth.js"></script>
<script type="module" src="../../js/agenda.js"></script>
</body>
</html>
